# Database
DATABASE_URL=xxxx
SECRET_KEY=xxxx

# Cloudflare Variables
R2_ACCOUNT_ID=cxx
R2_ACCESS_KEY_ID=xx
R2_SECRET_ACCESS_KEY=xx
R2_BUCKET=xx
R2_ENDPOINT=xx

# Redis
REDIS_URL=rxx

# Server
PORT=xx
FRONTEND_URL=xx
LOG_LEVEL=xx

# Authentication variables
GOOGLE_CLIENT_ID=x
GOOGLE_CLIENT_SECRET=Gxx
REDIRECT_URI=xx

# Send Emails
SMTP_HOST=sxx
SMTP_PORT=5xx
SMTP_USER=xx
SMTP_PASS=oxx
RESEND_API_KEY=rxx